---
import { formatDate } from "@utils";

const {post} = Astro.props
---

<article class="shadow-md shadow-gray-800 rounded p-4">
  <a href={`/articles/${post.slug}`} class="text-2xl font-semibold">{post.title}</a>
  
  <p class="text-gray-400">{post.description}</p>
  <div class="my-2 flex items-center justify-between">
    <p class="text-gray-600">{post.reading_time_minutes} min read</p>
    <date class="text-gray-600">{formatDate(post.published_at)}</date>  
  </div>
  <div class="  flex items-center gap-3">
      {post.tag_list.map(tag => (
      <a href={`articles/tag/${tag}`} class="text-xs rounded block px-2 py-2 bg-sky-800">#{tag}</a>
      ))}  
  </div>
</article>